fastapi==0.115.0
uvicorn[standard]==0.30.0
clickhouse-connect==0.7.19
pydantic-settings==2.5.0
python-dotenv==1.0.1
mysql-connector-python==9.3.0
python-jose[cryptography]==3.3.0
bcrypt==4.3.0
